{% load static %}
<div class="leftside-menu">
    
    <!-- LOGO -->
    <a href="{% url 'dashboard' %}" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo.png' %}" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo_sm.png' %}" alt="" height="16">
        </span>
    </a>

    <!-- LOGO dark -->
    <a href="{% url 'dashboard' %}" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo_sm_dark.png' %}" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-item">
                <a href="{% url 'dashboard' %}" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboards </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="{% url 'utilisateurs' %}" class="side-nav-link">
                    <i class="uil-globe"></i>
                    <span> Utilisateurs </span>
                </a>
            </li>

        </ul>

        <div class="clearfix"></div>
    </div>
</div>
